body {
    padding: 0;
    margin: 10;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    display: none;
    visibility: hidden;
}

.canvas-container {
    max-height: 300px;
}

.git-icon {
    font-size: 22px;
    vertical-align: middle;
}

.github-button-text {
    vertical-align: middle;
}

.image-label {
    font-size: 18px;
}

#loader-overlay-div {
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: disabled;
    top: 0;
    left: 0;
}

.overlay-content-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-size: 18px;
}


.spinner {
    width: 40px;
    height: 40px;
    background-color: #d35400;
    display: inline-block;
    margin: 50px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% { 
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}